@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background-color:beige;">
    <div class="top-row px-4" style="background-color: rgba(0,0,0,0.4)"> 
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
